<h1>New Employee Form</h1>
<%= form_for @new_employee do |f|  %>
    <%= f.label :first_name  %><br>
    <%= f.text_field :first_name  %><br>
    <%= f.label :last_name  %><br>
    <%= f.text_field :last_name  %><br>
    <%= f.label :alias %><br>
    <%= f.text_field :alias  %><br>
    <%= f.label :title  %><br>
    <%= f.text_field :title  %><br>
    <%= f.label :office  %><br>
    <%= f.text_field :office  %><br>
    <%= f.label :img_url %><br>
    <%= f.text_field :img_url %><br>
    <%= f.submit %>
<% end %>



https://media-exp1.licdn.com/dms/image/C5603AQGftovVV_ITCg/profile-displayphoto-shrink_400_400/0/1568747018623?e=1621468800&v=beta&t=iYp3fscs9yKU8MslSESnqEerDaDNzJN44j12QZdTIQU
<h1>Ask seth: How do we change the label name to anything?</h1>
<%=   %>
<% %>