<h1><%= @employee.to_s %></h1>
<%= image_tag @employee.img_url, style: 'max-width:400px' %>
<h3>Alias</h3>
<p><%=@employee.alias%></p>
<h3>Title</h3>
<p><%=@employee.title%></p>
<h3>Office</h3>
<p><%=@employee.office%></p>
<h3>Dog</h3>
<p><%=link_to @employee.dog.name, dog_path(@employee.dog)%></p>

